body {
    background-color: #0E1424;
    color: #d4d4d4;
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
}

.file-system-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #101628;
    border: 1px solid #1b2646;
    border-radius: 4px;
}

.add-document-bar {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.add-document-bar input {
    flex-grow: 1;
    margin-right: 10px;
    width: 700%;
    padding: 8px;
    background-color: #1a1f37;
    color: #9CDCFE;
    border: 1px solid #101628;
    border-radius: 4px;
}

.add-document-bar button, #add-document-button {
    padding: 8px 15px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top:20px;
}

.add-document-bar button:hover, #add-document-button:hover {
    background-color: #005a9e;
}

.documents-list h3 {
    margin-bottom: 10px;
}

.documents-list ul {
    list-style: none;
    padding: 0;
}

.document-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #151e37;
    padding: 10px;
    border-radius: 4px;
}

.document-item .document-name {
    flex-grow: 1;
    color: #d0d0d0;
}

.document-item button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #1c1d31;
    color: #9CDCFE;
    border: none;
    border-radius: 4px;
    width:100px;
    margin-top:20px;
}

.document-item button:hover {
    background-color: #384654;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161c34;
    padding: 10px;
    color: white;
    border-bottom: 1px solid #101628;
}

.navbar span {
    margin-right: auto;
}

.logout-button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    margin-top:20px;
    margin-right:20px;

}

.back-button{
    background-color: #007acc;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    margin-top:20px;
    margin-right:20px;
}

.logout-button:hover {
    background-color: #C9302C;
}

.back-button:hover {
    background-color: #C9302C;
}
/* Scrollbar Styles for Dark Theme */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.icon-html {
    color: #ff622e;
    margin-right: 11px;
    font-size: 24px;
}

.icon-css {
    color: #264de4;
    margin-right: 11px;
    font-size: 24px;
}

.icon-js {
    color: #f7df1e;
    margin-right: 11px;
    font-size: 24px;
}

.icon-java {
    color: #ff9c1b;
    margin-right: 11px;
    font-size: 24px;
}

.icon-txt {
    color: #a4ff90;
    margin-right: 11px;
    font-size: 24px;
}

.icon-else {
    color: #ffffff;
    margin-right: 11px;
    font-size: 24px;
}
